@page "/importStudent"
@using QuanLyHocSinhClient.Services.ExcelService
@inject ReadExcel ReadExcel


@if (Program.Teacher != null)
{
    <InputFile id="fileInput" OnChange="UploadFiles" hidden multiple />
    <div class="d-flex">
        <MudButton HtmlTag="label"
                   Variant="Variant.Filled"
                   Color="Color.Primary"
                   StartIcon="@Icons.Filled.CloudUpload"
                   for="fileInput">
            Upload Files
        </MudButton>
        @if (classes != null)
        {
            <MudSelect T="int" Label="Lớp Học" Strict="true" Variant="Variant.Outlined" @bind-Value="@classId" Format="F2" AnchorOrigin="Origin.BottomCenter">
                @foreach (var item in classes)
                {
                    <MudSelectItem T="int" Value="item.Id">@item.Name</MudSelectItem>
                }
            </MudSelect>
        }
        <MudButton HtmlTag="label"
                   Variant="Variant.Filled"
                   Color="Color.Primary"
                   OnClick="Upload"
                   StartIcon="@Icons.Filled.CloudUpload">
            Comfirm
        </MudButton>
    </div>


    @if (files != null)
    {
        <MudText Typo="@Typo.h6">@files.Count() File@(files.Count() == 1 ? "" : "s"):</MudText>
        <MudList>
            @foreach (var file in files)
            {
                <MudListItem Icon="@Icons.Filled.AttachFile" @key="@file">
                    @file.Name <code>@file.Size bytes</code>
                </MudListItem>
            }
        </MudList>
    }

    <MudTable Items="@_listStd" Hover="true" Breakpoint="Breakpoint.Sm" Loading="false" LoadingProgressColor="Color.Info">
        <HeaderContent>
            <MudTh>Name</MudTh>
            <MudTh>BirthDay</MudTh>
            <MudTh>Giới tính</MudTh>
            <MudTh>Email</MudTh>
            <MudTh>PhoneNumber</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Nr">@context.Name</MudTd>
            <MudTd DataLabel="Sign">@context.Address</MudTd>
            <MudTd DataLabel="Name">@context.Sex</MudTd>
            <MudTd DataLabel="Position">@context.Email</MudTd>
            <MudTd DataLabel="Molar mass">@context.PhoneNumber</MudTd>
        </RowTemplate>
    </MudTable>
}else{
    <p>Không thể truy cập!</p>
}




@code
{
    IList<IBrowserFile> files = new List<IBrowserFile>();
    List<Student> _listStd = new List<Student>();
    List<Class> classes = new List<Class>();
    int classId = 0;
    private async void UploadFiles(InputFileChangeEventArgs e)
    {
        foreach (var file in e.GetMultipleFiles())
        {
            files.Add(file);
        }
        _listStd = await ReadExcel.ReadFromExcel(files[0], true);
        StateHasChanged();
    }

    private async void Upload()
    {
        foreach (var item in _listStd)
        {
            item.ClassId = classId;
            item.CMND = "";
            item.NameParent = "";
            item.DateOfIssue = DateTime.Now;
            item.Folk = "";
            item.Image = "";
            item.Religion = "";
            item.PlaceOfIssue = "";
            item.PhoneNumberParent = "";
            item.Nationality = "";
        }
        var std = await API<List<Student>>.Instance.PostAsync("api/Students/addRange", _listStd);
        _listStd.Clear();
        files.Clear();
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        classes = await API<List<Class>>.Instance.GetAsync("/api/Classs");
    }
}