@page "/information"
@inject ISnackbar Snackbar
<MudGrid Class="mt-10">
    <MudItem xs="6" sm="3">
        <MudCard>
            <MudCardMedia Image="@student.Image" Height="250" />
            <MudCardContent>
                <MudText Typo="Typo.h5">@student.Name</MudText>
            </MudCardContent>
            <MudCardActions>
                <InputFile id="fileInput" OnChange="UploadFiles" hidden multiple />
                <MudButton HtmlTag="label" Variant="Variant.Text" Color="Color.Primary" for="fileInput">Thay đổi ảnh</MudButton>
            </MudCardActions>
        </MudCard>
    </MudItem>
    <MudItem xs="6" sm="9">
        <MudGrid>
            <MudItem xs="6" sm="6">
                <MudText>Mã số sinh viên: 1811060024</MudText>
                <MudText>Lớp: 18DTHC2</MudText>
                <MudText>Chuyên ngành: Công nghệ thông tin</MudText>
                <MudText>Niên Khóa: 2018-2022</MudText>
            </MudItem>
            <MudItem xs="6" sm="6">
                <MudText>Họ và tên: @student.Name</MudText>
                <MudText>Quê quán: @student.Address</MudText>
                <MudText>Số điện thoại: @student.PhoneNumber</MudText>
                <MudText>Ngày sinh: 24.04.2000</MudText>
            </MudItem>
        </MudGrid>
        <MudText Align="Align.Left" Class="mt-10"><b>Thông tin sinh viên.</b></MudText>
        <MudDivider />
        <MudGrid>
            <MudItem xs="12" sm="6">
                <MudSelect T="bool" Label="Giới tính" @bind-Value="@student.Sex">
                    <MudSelectItem Value="@true" />
                    <MudSelectItem Value="@false" />

                </MudSelect>
                <MudTextField @bind-Value="@student.Email" Label="Email" Variant="Variant.Text"></MudTextField>
                <MudTextField @bind-Value="@student.PhoneNumber" Label="Số điện thoại" Variant="Variant.Text"></MudTextField>
                <MudTextField @bind-Value="@student.CMND" Label="CCCD" Variant="Variant.Text"></MudTextField>
            </MudItem>
            <MudItem xs="12" sm="6">
                <MudTextField @bind-Value="@student.Nationality" Label="Quốc tịch" Variant="Variant.Text"></MudTextField>
                <MudTextField @bind-Value="@student.Folk" Label="Dân tộc" Variant="Variant.Text"></MudTextField>
                <MudTextField @bind-Value="@student.Religion" Label="Tôn giáo" Variant="Variant.Text"></MudTextField>

                <div class="d-flex">
                    <MudDatePicker Class="w-50" Label="Ngày cấp" @bind-Date="date" DisableToolbar="true" />
                    <span></span>
                    <MudTextField @bind-Value="@student.PlaceOfIssue" Label="Nơi cấp" Variant="Variant.Text"></MudTextField>
                </div>
            </MudItem>
        </MudGrid>
        <MudDivider />
        <MudGrid>
            
            <MudItem xs="12" sm="12">
                
                <MudTextField @bind-Value="@student.Address" Label="Địa chỉ" Variant="Variant.Text"></MudTextField>

            </MudItem>
        </MudGrid>
        <MudText Align="Align.Left" Class="mt-10"><b>Thông tin nhân thân.</b></MudText>
        <MudDivider />
        <MudGrid>
            <MudItem xs="12" sm="6">
                <MudTextField @bind-Value="@student.NameParent" Label="Họ tên cha/mẹ" Variant="Variant.Text"></MudTextField>
            </MudItem>
            <MudItem xs="12" sm="6">
                <MudTextField @bind-Value="@student.PhoneNumberParent" Label="Số điện thoại cha/mẹ" Variant="Variant.Text"></MudTextField>
            </MudItem>
        </MudGrid>
    </MudItem>
</MudGrid>

<MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Save" Color="Color.Info" Size="Size.Small" OnClick="@OnValidSubmit">Save</MudButton>

@code {
    DateTime? date = DateTime.Today;
    Student student = new Student();
    private async void OnValidSubmit()
    {

        await API<Student>.Instance.PutAsync($"/api/Students/{student.Id}", student);
        Snackbar.Add("Lưu thành công");
    }
    protected async override Task OnInitializedAsync()
    {
        student = Program.Student;

    }
    IList<IBrowserFile> files = new List<IBrowserFile>();
    private void UploadFiles(InputFileChangeEventArgs e)
    {
        foreach (var file in e.GetMultipleFiles())
        {
            files.Add(file);
        }
        //TODO upload the files to the server
    }
}
